.blog-body
 {
   background-image: url("../img/fondo2.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   width:100%;
   height: 100%; min-height: 800px;

  }
nav
 {
  height:130px;
}
.logo
 {
   width:5.5em;
 }
nav ul a.btn
  { margin-left: 0.3rem;
      margin-right: 0.3rem;
  }
i.left
{
  margin-right: 0.3rem;
}
a.brand-logo
{
  max-height: 180px;
}

.slogan
{
  height: 33px;
}
.img-social
{
  margin: 1.5rem;
  border-radius: 1rem;
  width: 4rem;
}
img.central
{
  width: 100%;
}
img.fotos2, img.fotos1
{
  width: 100%;
}
.cuerpo
{
  margin-top:82px;
 }
 ul.right{margin-top: 1rem;}
 img.flotante
 {
   float: left;
   margin-right: 1rem;
   margin-top: 1.3rem;
   height: : 100px;
  }
div.acuario.row{margin-left: 10px;}
div.comentario.row{margin-left: 10px;}
  p.black-text{text-align: justify;}
  div.chip{margin-top: 1rem;}
  .Autor{padding: 1.5rem;}
@media screen and (max-width:420px)
{
.logo{width:5em;}
a.btnSp.btn.btn-small
  {
    padding-right:10px;
    padding-left: 10px;
  }
a.pequeña.btn.btn-small
  {
    padding-right:9px;
    padding-left: 9px;
    margin-left: 1px;
    font-size: 5px;
  }
li.derecha{float: right;}
h5.valign.center-align{font-size: 1.5rem; margin-top: 0px;}
nav
 {height:150px;}
 .navbar-fixed{position:relative;}
 div.enviar.btn-flat{float: none;}
 div.enviar.input-field{text-align: center;}
 div.acuario.row{margin-left: 5px;margin-right: 5px;}
 div.comentario.row{margin-left: 5px;margin-right: 5px;}

}
